*.pyc
*.log
node_modules
coverage/
arches_for_books/logs
arches_for_books/export_deliverables
arches_for_books/cantaloupe/*
arches_for_books/staticfiles
arches_for_books/media/packages
arches_for_books/media/build/
arches_for_books/uploadedfiles/*
arches_for_books/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
