{% extends "views/components/widgets/base.htm" %}
{% load i18n %}
{% load static %}
{% load webpack_static from webpack_loader %}
{% load render_bundle from webpack_loader %}


{% block form %}

<div class="row widget-wrapper" data-bind="class: nodeCssClasses">
    <div class="form-group">
        <span class="control-label widget-input-label" data-bind="text:label"></span>
        <!-- ko if: node -->
        <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
        <!-- /ko -->

        <div class="col-xs-12">

            <!-- ko foreach: { data: stars, as: 'star' } -->
            <div class="single-star-container" >
                <div className="single-star-fill" >
                    <img className="single-star-outline" src="{% webpack_static 'img/star.png' %}"></img>
                </div>
            </div>
            <!-- /ko -->

        </div>

    </div>
</div>
{% endblock form %}


{% block config_form %}
<label for="input-min" class="control-label">
    <span data-bind="text: $root.translations.min"></span>
</label>
<div class="col-xs-12 pad-no crud-widget-container">
    <input
        type="number"
        id="input-min"
        class="form-control input-md widget-input"
        data-bind="
            attr: {placeholder: $root.translations.min},
            value: min,
            valueUpdate: 'keyup'
        "
    >
</div>
<label for="input-max" class="control-label">
    <span data-bind="text: $root.translations.max"></span>
</label>
<div class="col-xs-12 pad-no crud-widget-container">
    <input
        type="number"
        id="input-max"
        class="form-control input-md widget-input"
        data-bind="
            attr: {placeholder: $root.translations.max},
            value: max,
            valueUpdate: 'keyup'
        "
    >
</div>
<label for="input-step" class="control-label">
    <span data-bind="text: $root.translations.increment"></span>
</label>
<div class="col-xs-12 pad-no crud-widget-container" >
    <input
        type="number"
        id="input-step"
        class="form-control input-md widget-input"
        data-bind="
            attr: {placeholder: $root.translations.incrementSize},
            value: step,
            valueUpdate: 'keyup',
        "
    >
</div>
{% endblock config_form %}


{% block report %}
<dt data-bind="text: label"></dt>
<dd>
    <iframe data-bind="attr: { src: YoutubeUrl }" width="560" height="315" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</dd>
{% endblock report %}

